<div class="w-full">
  <app-header></app-header>
  <main class="w-full min-h-screen p-main">
    <section class="p-section flex justify-start items-start flex-col gap-8">
      <h2 class="text-interaction text-2xl font-bold">Historique de méteo</h2>
      <div
        class="bg-background-secondary p-4 rounded-lg w-full sm:max-w-[700px]"
      >
        <h3 class="text-interaction text-lg font-bold">
          Météo du : 19/04/2024 - 19:24:36
        </h3>
        <hr class="border-interaction w-full my-4" />
        <div class="flex justify-start items-start flex-col gap-4">
          <p class="text-content text-lg">
            <span class="text-interaction font-bold">Ville : </span>
            Chevilly-Larue
          </p>
          <p class="text-content text-lg">
            <span class="text-interaction font-bold">Température : </span>
            11,25 °C
          </p>
          <p class="text-content text-lg">
            <span class="text-interaction font-bold">Météo : </span>
            partiellement nuageux
          </p>
          <p class="text-content text-lg">
            <span class="text-interaction font-bold">Vent : </span>
            22,53 Km/h
          </p>
        </div>
      </div>
      <div
        class="bg-background-secondary p-4 rounded-lg w-full sm:max-w-[700px]"
      >
        <h3 class="text-interaction text-lg font-bold">
          Météo du : 18/04/2024 - 20:12:11
        </h3>
        <hr class="border-interaction w-full my-4" />
        <div class="flex justify-start items-start flex-col gap-4">
          <p class="text-content text-lg">
            <span class="text-interaction font-bold">Ville : </span>
            Chevilly-Larue
          </p>
          <p class="text-content text-lg">
            <span class="text-interaction font-bold">Température : </span>
            9,63 °C
          </p>
          <p class="text-content text-lg">
            <span class="text-interaction font-bold">Météo : </span>
            pluvieux
          </p>
          <p class="text-content text-lg">
            <span class="text-interaction font-bold">Vent : </span>
            15,53 Km/h
          </p>
        </div>
      </div>
    </section>
  </main>
</div>
