<div
  class="fixed z-[9999] top-0 left-0 w-screen h-screen bg-background flex justify-center items-center flex-col"
>
  <img
    class="w-11 h-11 absolute top-4 left-1/2 transform -translate-x-1/2"
    src="../../../assets/medias/img/svg/logo_SunnyRain.svg"
    alt="logo SunnyRain"
    srcset=""
  />
  <h2
    class="text-[15vw] text-transparent font-black bg-title-bg-sun bg-top-15 bg-cover bg-clip-text"
  >
    <span class="font-sunny tracking-wider leading-none">Sunny</span>
    <span class="font-rain tracking-widest leading-none">Rain</span>
  </h2>
  <div
    class="min-w-80 min-h-48 flex justify-center items-center flex-col gap-4 p-6 mt-4 bg-background-secondary rounded-2xl"
  >
    <p class="text-interaction text-md font-bold">
      Se connecter pour utiliser l'application
    </p>
    <div id="google_btn"></div>
  </div>
</div>
